.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}
.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transform: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input__btn {
  width: 50px;
  height: 50px;
  background-color: rgb(27, 144, 217);
  border: none;
  outline: none;
  border-radius: 50%;
  margin: 12px;
  color: white;
  position: absolute;
  right: 0;
  transition: 2s all;
  box-shadow: 0 0 10px black;
}
.input__btn:hover {
  background-color: blue;
}
